Repository SatvikPraveen/JSVerseHub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

docs: add comprehensive v1.0.0 release notes
  RELEASE_NOTES.md
Due: prettier --write

docs: add final project completion report for v1.0.0
  FINAL_COMPLETION_REPORT.md
Due: prettier --write

feat: add production deployment script
  deploy.sh
Due: none

docs: add comprehensive project index for v1.0.0
  INDEX.md
Due: prettier --write

docs: add quick completion summary for v1.0.0
  COMPLETION_SUMMARY.md
Due: prettier --write

docs: add final status report for v1.0.0 production release
  FINAL_STATUS.txt
Due: none

docs: organize all documentation into docs/guides folder
  INDEX.md
  docs/guides/AUDIT_REPORT.md
  docs/guides/BUILD_AND_PRODUCTION.md
  docs/guides/COMPLETION_CHECKLIST.md
  docs/guides/COMPLETION_SUMMARY.md
  docs/guides/DEPLOYMENT.md
  docs/guides/DOCUMENTATION_INDEX.md
  docs/guides/EXECUTION_PLAN.md
  docs/guides/EXECUTIVE_SUMMARY.md
  docs/guides/FINAL_COMPLETION_REPORT.md
  docs/guides/FINAL_STATUS.txt
  docs/guides/IMPLEMENTATION_ROADMAP.md
  docs/guides/INDEX.md
  docs/guides/MASTER_SUMMARY.md
  docs/guides/MONITORING.md
  docs/guides/PROJECT_COMPLETION.md
  docs/guides/PROJECT_STATUS.md
  docs/guides/RELEASE.md
  docs/guides/RELEASE_NOTES.md
  docs/guides/START_HERE.md
  docs/guides/TODO_1_EVENTS_QUICKSTART.md
  docs/guides/VISUAL_SUMMARY.md
Due: prettier --write

fix: correct property name syntax error in testing/index.js
  src/concepts/testing/index.js
Due: eslint --fix, prettier --write

chore: remove .github workflows due to CI/CD issues
  .github/workflows/ci-cd.yml
Due: none

Fix duplicate tooltips on planet hover - disabled redundant hover handlers in GalaxyRenderer and GalaxyMap
  src/components/GalaxyMap.js
  src/engine/galaxyRenderer.js
  src/styles/galaxy.css
  src/styles/index.css
Due: eslint --fix, stylelint --fix, prettier --write

Update README to reflect current project status and emphasize personal project nature
  README.md
Due: prettier --write

Reorganize project structure: move scripts to scripts/ and additional docs to docs/
  README.md
  docs/ANALYSIS_COMPLETE.txt
  docs/INDEX.md
  docs/PROJECT_STRUCTURE.md
  scripts/create-jsversehub.sh
  scripts/deploy.sh
Due: prettier --write

Enhance Basics and ES6+ planets with new content
  src/concepts/basics/index.js
  src/concepts/es6/index.js
  src/engine/conceptLoader.js
  tests/basics.test.js
Due: eslint --fix, prettier --write

Fix: Tooltip positioning for bottom planets - changed from fixed to absolute positioning
  src/styles/galaxy.css
Due: stylelint --fix, prettier --write

Fix: Custom tooltip positioning for Algorithms (left), Security (left), and Functional (below)
  src/styles/galaxy.css
Due: stylelint --fix, prettier --write

docs: organize markdown files into docs folder
  docs/FINAL_SUMMARY.md
  docs/PROJECT_STATUS.md
  docs/QUICKSTART.md
  docs/USER_GUIDE.md
Due: prettier --write

fix(concepts): escape template literals in code examples that broke parsing
  src/concepts/async/async-flow.js
  src/concepts/functional/higher-order.js
  src/concepts/functional/map-filter-reduce.js
  src/concepts/oop/prototypes.js
Due: eslint --fix, prettier --write

fix(tests): repair 58 failing tests at their root causes
  src/concepts/events/index.js
  src/concepts/performance/index.js
  src/engine/navigation.js
  tests/async.test.js
  tests/engine/conceptLoader.test.js
  tests/engine/navigation.test.js
  tests/es6.test.js
  tests/setup.js
  tests/testing.test.js
Due: eslint --fix, prettier --write

chore(tooling): align lint/format config with codebase and fix package metadata
  .eslintrc.js
  .gitignore
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc
  .node-version
  .prettierignore
  .prettierrc
  package-lock.json
  package.json
Due: eslint --fix, prettier --write

feat(concepts): add missing oop, functional, patterns and storage modules
  src/concepts/functional/index.js
  src/concepts/oop/index.js
  src/concepts/patterns/index.js
  src/concepts/storage/index.js
Due: eslint --fix, prettier --write

feat(engine): serve authored concept content via a lazy-loading ContentRegistry
  src/components/ConceptViewer.js
  src/engine/conceptLoader.js
  src/engine/contentRegistry.js
  src/main.js
  tests/engine/contentRegistry.test.js
Due: eslint --fix, prettier --write

feat(learning): add SM-2 spaced repetition, Bayesian knowledge tracing and local analytics
  public/index.html
  src/components/Navbar.js
  src/engine/knowledgeTracing.js
  src/engine/learningAnalytics.js
  src/engine/learningModel.js
  src/engine/spacedRepetition.js
  src/styles/modal.css
  tests/engine/knowledgeTracing.test.js
  tests/engine/learningAnalytics.test.js
  tests/engine/spacedRepetition.test.js
Due: eslint --fix, stylelint --fix, prettier --write

build(assets): optimise PNG assets from 42 MB to 1.9 MB
  public/images/easter_egg/dino.png
  public/images/easter_egg/space_cat.png
  public/images/icons/quiz-symbol.png
  public/images/icons/settings.png
  public/images/leaderboard/trophy.png
  public/images/milestone/unlock-badge.png
  public/images/planets/algorithms.png
  public/images/planets/api.png
  public/images/planets/async.png
  public/images/planets/basics.png
  public/images/planets/canvas.png
  public/images/planets/dom.png
  public/images/planets/es6.png
  public/images/planets/events.png
  public/images/planets/functional.png
  public/images/planets/oop.png
  public/images/planets/patterns.png
  public/images/planets/security.png
  public/images/planets/storage.png
  public/images/planets/testing.png
  public/images/ui/close-btn.png
  public/images/ui/galaxy-background.png
  public/images/ui/info-btn.png
  public/images/ui/loading.png
  public/images/ui/logo.png
  public/images/ui/next-prev-arrows.png
  public/images/ui/play-btn.png
  public/images/ui/theme-toggle.png
  scripts/optimize-images.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.css
  prettier --write: any of: *.{js,css,html,json,md}
