Repository SatvikPraveen/JSVerseHub: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix, prettier --write

test(engine): cover the real StateManager, ConceptLoader pipeline and LearningModel
  package.json
  tests/engine/conceptLoader.integration.test.js
  tests/engine/learningModel.test.js
  tests/engine/stateManager.unit.test.js
Due: eslint --fix, prettier --write

ci: add GitHub Actions workflow
  .github/workflows/ci.yml
Due: none

docs: research-grade documentation set
  CITATION.cff
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  README.md
  SECURITY.md
  docs/INDEX.md
  docs/adr/0001-vanilla-js-no-framework.md
  docs/adr/0002-lazy-loaded-content-registry.md
  docs/adr/0003-local-only-learning-analytics.md
  docs/adr/0004-sm2-spaced-repetition.md
  docs/adr/0005-bayesian-knowledge-tracing.md
  docs/adr/0006-quality-gates-and-ci.md
  docs/adr/README.md
  docs/architecture.md
  docs/changelog.md
  docs/research/DATA_SCHEMA.md
  docs/research/EVALUATION_PROTOCOL.md
  docs/research/PEDAGOGICAL_FRAMEWORK.md
  docs/research/README.md
  docs/research/REFERENCES.md
Due: prettier --write

build(docker): multi-stage image that actually builds the bundle
  .dockerignore
  Dockerfile
  docker-compose.yml
Due: none

chore(repo): archive v1.0 status documents and remove fictional infrastructure config
  .env.development
  .env.example
  .env.production
  .env.staging
  docs/archive/ANALYSIS_COMPLETE.txt
  docs/archive/FINAL_SUMMARY.md
  docs/archive/PROJECT_STATUS.md
  docs/archive/README.md
  docs/archive/guides/AUDIT_REPORT.md
  docs/archive/guides/BUILD_AND_PRODUCTION.md
  docs/archive/guides/COMPLETION_CHECKLIST.md
  docs/archive/guides/COMPLETION_SUMMARY.md
  docs/archive/guides/DEPLOYMENT.md
  docs/archive/guides/DOCUMENTATION_INDEX.md
  docs/archive/guides/EXECUTION_PLAN.md
  docs/archive/guides/EXECUTIVE_SUMMARY.md
  docs/archive/guides/FINAL_COMPLETION_REPORT.md
  docs/archive/guides/FINAL_STATUS.txt
  docs/archive/guides/IMPLEMENTATION_ROADMAP.md
  docs/archive/guides/INDEX.md
  docs/archive/guides/MASTER_SUMMARY.md
  docs/archive/guides/MONITORING.md
  docs/archive/guides/PROJECT_COMPLETION.md
  docs/archive/guides/PROJECT_STATUS.md
  docs/archive/guides/RELEASE.md
  docs/archive/guides/RELEASE_NOTES.md
  docs/archive/guides/START_HERE.md
  docs/archive/guides/TODO_1_EVENTS_QUICKSTART.md
  docs/archive/guides/VISUAL_SUMMARY.md
Due: prettier --write

fix(bootstrap): stop constructing singleton components and drop missing service worker
  src/main.js
Due: eslint --fix, prettier --write

build(webpack): derive production mode from --mode instead of NODE_ENV
  webpack.config.js
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.js
  stylelint --fix: any of: *.css
  prettier --write: any of: *.{js,css,html,json,md}
